---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242%204242%204242%204242&card[exp_month]=3&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103dqF2rBLgVVd2BWifQigsq",
          "livemode": false,
          "created": 1394477721,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103dqF2rBLgVVd2BKpWm7HMP",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "DtFcTOgjqEjUcaMY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 10 Mar 2014 18:55:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=900&currency=usd&card=tok_103dqF2rBLgVVd2BWifQigsq
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103dqF2rBLgVVd2BX9pUsQgZ",
          "object": "charge",
          "created": 1394477722,
          "livemode": false,
          "paid": true,
          "amount": 900,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103dqF2rBLgVVd2BKpWm7HMP",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "DtFcTOgjqEjUcaMY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103dqF2rBLgVVd2BZGAPb04q",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Mon, 10 Mar 2014 18:55:22 GMT
recorded_with: VCR 2.8.0
