---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103dqF2rBLgVVd2BK8zCpSgv",
          "livemode": false,
          "created": 1394477726,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103dqF2rBLgVVd2Bv7RozQsX",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "ItbCu4pNX9jcTfw9",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 10 Mar 2014 18:55:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=900&currency=usd&card=tok_103dqF2rBLgVVd2BK8zCpSgv
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103dqF2rBLgVVd2BkmE4c7cf"
          }
        }
  recorded_at: Mon, 10 Mar 2014 18:55:26 GMT
recorded_with: VCR 2.8.0
